.about {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
    width: 50%;
    align-items: center;
    justify-content: center;
    color: #fff;
  
}

.linkback {
    font-size: 12px;
    text-decoration: none;
}